/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '../node_modules/antd/dist/antd.css';
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

#root {
  height: 100%;
  width: 100%;
  min-height: 600px;
  overflow: scroll;
}

.container {
  height: 100%;
  width: 100%;
  background-color: #ececec;
}

.margin-top {
  margin-top: 20px;
}

.padding {
  padding: 20px;
}

.scroll {
  overflow: scroll;
}

.logContent {
  overflow: scroll;
  height: 400px;
}

.logContent p span:first-child {
  color: #4596d2;
}

.logContent p span:nth-child(2) {
  color: #d26030;
}

.margin-left {
  margin-left: 20px;
}

.language-bash {
  width: 100%;
  border-radius: 6px;
  margin-top: 24px;
  padding: 10px;
  background: #f2f4f5;
}

.width100 {
  width: 100%;
}

/* 滚动条的宽度 */

::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* 外层轨道。可以用display:none让其不显示，也可以添加背景图片，颜色改变显示效果 */

::-webkit-scrollbar-track {
  width: 6px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/* 滚动条的设置 */

::-webkit-scrollbar-thumb {
  background-color: rgba(96, 109, 113, 0.64);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

/* 滚动条移上去的背景 */

::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}
